<section id="conocenosTeam" class="packages" th:fragment="mensajeIdeal">
    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Equipo 5 EOI</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pic">
                                    <img
                                            src="assets/img/team/Migue.png"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4>Miguel Escudero Jiménez</h4>
                                    <span>Programador Java Junior</span>
                                    <p>
                                        Formación profesional superior en Desarrollo de Aplicaciones Multiplataforma (DAM) y finalizado programa intensivo y exigente de especialización en programación Java en la Escuela de Organización Industrial (EOI).
                                        conocimientos técnicos en Java, Base de Datos, MySQL, Programación Orientada a Objetos (POO), HTML & CSS, BOOTSTRAP, Spring, Spring Boot.
                                    </p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <div class="pic">
                                    <img
                                            src="assets/img/team/Andy.png"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4>Andy Chen Cheng</h4>
                                    <span>Programador Java Junior</span>
                                    <p>
                                        Formación en Java, HTML, CSS, Bootstrap, MySQL, bases de datos (BBDD), Programación Orientada a Objetos (POO), Hibernate y GitHub.
                                        Mi objetivo es combinar mi pasión por la tecnología con mis habilidades analíticas y creativas para desarrollar soluciones innovadoras y eficientes en el campo de la programación.
                                    </p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="400">
                                <div class="pic">
                                    <img
                                            src="assets/img/team/Juanmi.png"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4>Juan Miguel Costa Lucena</h4>
                                    <span>Programador Java Junior</span>
                                    <p>
                                        Desarrollo de Aplicaciones Web y experiencia en tecnologías como Java, Spring Boot, JPA, Hibernate, HTML, Bootstrap y Thymeleaf.
                                        Actualmente estoy ampliando mis habilidades participando activamente en proyectos de equipo que aplican estas tecnologías para crear soluciones innovadoras.
                                    </p>
                                    <div class="social">
                                        <a href=""><i class="ri-twitter-fill"></i></a>
                                        <a href=""><i class="ri-facebook-fill"></i></a>
                                        <a href=""><i class="ri-instagram-fill"></i></a>
                                        <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>