<section id="conocenosStats" class="packages" th:fragment="mensajeIdeal">
    <div class="stats">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">¿Como trabajamos?</div>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button
                            type="button"
                            data-bs-target="#myCarousel"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#myCarousel"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#myCarousel"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#myCarousel"
                            data-bs-slide-to="3"
                            aria-label="Slide 4"
                    ></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <svg
                                width="100%"
                                height="100%"
                                aria-hidden="true"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                        ></svg>
                        <div id="A" class="container">
                            <div class="carousel-caption text-start">
                                <h3 class="textaca">¿Cómo funciona nuestro servicio?</h3>
                                <p class="textaa">
                                    La información que aparece en nuestra Plataforma se basa
                                    en la información que nos proporcionan los Proveedores
                                    de servicios. Hacemos lo que está en nuestra mano para
                                    mantener la información actualizada en todo momento; sin
                                    embargo, las actualizaciones del contenido (como las
                                    descripciones y las listas de servicios que ofrecen los
                                    Alojamientos) pueden tardar unas horas en aparecer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <svg
                                width="100%"
                                height="100%"
                                aria-hidden="true"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                        ></svg>
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h3 class="textaca" >¿Con quién trabajamos?</h3>
                                <p class="textaa">
                                    Ningún Alojamiento es de nuestra propiedad. Cada
                                    Proveedor de servicios es una empresa independiente que
                                    ha acordado trabajar con nosotros de un modo determinado
                                    En la Plataforma encontrarás cuántos Alojamientos puedes
                                    reservar en todo el mundo a través de nosotros, y en
                                    nuestra página de resultados de búsqueda encontrarás
                                    cuántos de ellos podrían ser adecuados para ti en
                                    función de lo que nos has contado.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <svg
                                width="100%"
                                height="100%"
                                aria-hidden="true"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                        ></svg>
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h3 class="textaca">¿Cómo ganamos dinero?</h3>
                                <p class="textaa">
                                    Nosotros no compramos ni (re)vendemos ningún producto ni
                                    servicio. Simplemente, cuando finaliza tu estancia, el
                                    Proveedor de servicios nos paga una comisión.
                                    El 80% de las ganancias de TravelID provienen de las comisiones de reservas
                                    y el 20% provienen de patrocinios privados. Ningun trabajdor de TravelID es explotado
                                    los ingresoso de los trabajadores el 80% provienen de un ingreso fijo y el 20% provienen de extras
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <svg
                                width="100%"
                                height="100%"
                                aria-hidden="true"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                        ></svg>
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h3 class="textaca">¿Alguna vez eliminamos Proveedores de servicios de
                                    nuestra Plataforma?</h3>
                                <p class="textaa">
                                    Por supuesto. Podemos hacerlo si nos enteramos de que
                                    han incumplido sus obligaciones contractuales, por
                                    ejemplo, o si han proporcionado una descripción
                                    imprecisa de su Alojamiento y no la corrigen cuando les
                                    solicitamos que lo hagan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#myCarousel"
                        data-bs-slide="prev"
                >
              <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
              ></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#myCarousel"
                        data-bs-slide="next"
                >
              <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
              ></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
        </div>
    </div>
</section>