<section id="imagenHabitacion" class="packages" th:fragment="mensajeIdeal">
    <div class="hotel_image" th:object="${habitacion}">
        <!--                                <img th:src="@{${imagenHabitacion}}" alt="Imagen del hotel" />-->
        <div
                class="hotel_review_container d-flex flex-column align-items-center justify-content-center"
        >
            <div class="hotel_review">
                <div class="hotel_review_content">
                    <div class="hotel_review_title">very good</div>
                    <div class="hotel_review_subtitle">100 reviews</div>
                </div>
                <div class="hotel_review_rating text-center">8.1</div>
            </div>
        </div>
    </div>
</section>