<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actividades</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Travelix Project"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/images/AAAfavicon.png"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
    ></script>
    <link
            th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/actividades_styles.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/actividades_responsive.css}"
    />
</head>

<body>
<div class="super_container">
    <!-- Header -->

    <header th:replace="~{layout/plantilla :: header}"></header>
    <div th:replace="~{layout/plantilla :: navMobile}"></div>

    <!-- Home -->

    <div class="home">
        <div
                class="home_background parallax-window"
                data-parallax="scroll"
                th:attr="data-image-src=@{/images/blog_background.jpg}"
        ></div>
        <div class="home_content">
            <div class="home_title">ACTIVIDADES</div>
        </div>
    </div>

    <!-- Barra filtro -->
    <form id="filtrarForm" action="/filtrar-actividades" method="get" >
        <div class="filter-bar">
            <div class="filter-group">
                <label for="category">Tipo:</label>
                <select id="category" name="tipoId">
                    <option value="">Todos</option>
                    <!-- Iterar sobre los tipos de actividad disponibles -->
                    <option th:each="tipo : ${tiposActividad}" th:value="${tipo.id}" th:text="${tipo.nombre}">Tipo
                        Actividad
                    </option>
                </select>
            </div>

            <div class="filter-group">
                <label for="fechaInicio">FECHA DE INICIO:</label>
                <input type="datetime-local"  name="fechaInicio" id="fechaInicio"/>
            </div>

            <div class="filter-group">
                <label for="fechaFin">FECHA DE FIN:</label>
                <input type="datetime-local" name="fechaFin" id="fechaFin"/>
            </div>

            <div class="filter-group">
                <button type="submit">APLICAR BÚSQUEDA</button>
            </div>
        </div>
    </form>

    <h3 th:if="error" th:text="${error}" class="text-danger text-center">
    </h3>


    <!--Contenido actividad-->
    <section id="pack" class="packages">
        <div class="container">
            <div class="gallery-header text-center">
                <h2>Descubre Actividades Increíbles</h2>
                <p>
                    Explora nuestra selección de actividades, desde emocionantes
                    aventuras al aire libre hasta relajantes escapadas culturales.<br/>
                    Compara y reserva las mejores experiencias para tu próximo
                    viaje.<br/>
                    ¡Empieza tu aventura hacia momentos inolvidables!
                </p>
            </div>
            <!--/.gallery-header-->
            <div class="packages-content">
                <div class="row d-flex justify-content-center">

                    <!-- Gastronomia -->
                    <div class="row d-flex actividades actividadesGastronomia">

                        <div class="col-lg-4 col-sm-6 d-flex" th:each="actividad : ${lista}">
                            <div class="single-package-item">
                                <img
                                        src="/images/Hoteles/Radisson_Blu_Hotel_Berlin.jpg"
                                        alt="Radisson Blu Hotel"
                                />
                                <div class="single-package-item-txt">
                                    <h3 class="d-block d-sm-none d-xl-block" th:text="${actividad.nombre}">
                                        Nombre Actividad<span class="pull-right"
                                                              th:text="${actividad.precio}">Precio</span>
                                    </h3>
                                    <div class="d-none d-sm-block d-xl-none">
                                        <h3 th:text="${actividad.nombre}">Nombre Actividad</h3>
                                        <h4
                                                class="text-dark"
                                                th:text="${preciosActuales[actividad.id] != null ? preciosActuales[actividad.id] + ' €' : 'No disponible'}"
                                        >
                                            Precio
                                        </h4>
                                    </div>
                                    <div class="packages-para">
                                        <p>
                                          <span>
                                            <i class="fa fa-angle-right" th:text="${actividad.tipo.nombre}"></i>
                                          </span>
                                        </p>
                                        <p>
                                          <span>
                                            <i class="fa fa-angle-right" th:text="${actividad.localizacion.nombre}"></i>
                                          </span>
                                        </p>
                                        <p>
                                          <span>
                                            <i class="fa fa-angle-right" th:text="${actividad.descripcion}"></i>
                                          </span>
                                        </p>
                                    </div>
                                    <!--/.packages-review-->
                                    <div class="about-btn">
                                        <button class="about-view packages-btn">
                                            Reservar
                                        </button>
                                    </div>
                                    <!--/.about-btn-->
                                </div>
                                <!--/.single-package-item-txt-->
                            </div>
                            <!--/.single-package-item-->
                        </div>
                        <!--/.col-->
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.packages-content-->
        </div>
        <!--/.container-->
    </section>
    <!--/.packages-->
    <!--packages end-->

    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>

    <!-- Copyright -->
    <div th:replace="~{layout/plantilla :: copyright}"></div>
</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/offers_custom.js}"></script>
</body>
</html>
